{% extends "base.html" %}
{% block title %}Add Task{% endblock %}

{% block content %}
<div class="container">
    <h2>Add New Task</h2>
<form method="POST" action="{{ url_for('tasks.add_tasks') }}">
    {{ form.hidden_tag() }}

    <div class="form-group">
        {{ form.title.label }}
        {{ form.title(class="form-control") }}
        {% if form.title.errors %}
            <div class="error">{{ form.title.errors[0] }}</div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.content.label }}
        {{ form.content(class="form-control") }}
        {% if form.content.errors %}
            <div class="error">{{ form.content.errors[0] }}</div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.created_date.label }}
        {{ form.created_date(class="form-control") }}
        {% if form.created_date.errors %}
            <div class="error">{{ form.created_date.errors[0] }}</div>
        {% endif %}
    </div>

    <div class="form-group">
        {{ form.status.label }}
        {{ form.status(class="form-control") }}
        {% if form.status.errors %}
            <div class="error">{{ form.status.errors[0] }}</div>
        {% endif %}
    </div>

    <button type="submit" class="btn">Add Task</button>
</form>
</div>
{% endblock %}
