{% extends "base.html" %}

{% block title %}Login Page{% endblock %}

{% block content %}
<div class="container">
    <h1>Login</h1>
    <form method="POST" action="{{ url_for('auth.login') }}">
        {{ form.hidden_tag() }}

        <div class="form-group">
                {{ form.email.label }}
                {{ form.email(class="form-control") }}
                {% for error in form.email.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
        </div>

        <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class="form-control") }}
                {% for error in form.password.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
        </div>

        <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    <p>Don't have an account? <a href="{{ url_for('auth.register') }}">Register here</a></p>
</div>
{% endblock %}